h2 {
    text-align: center;
}
table {
    background-color: aquamarine;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    margin: 0;
    color: rgb(12, 12, 61);
}
h4 {
    padding: 0.55rem;
    margin: 0;
}