<ul class="d-flex flex-column align-items-start">
    <li class="w-100">
        <a href="#">Inicio</a>
    </li>
    <li>
        <a href="">Nosotros</a>
    </li>
    <li>
        <div class="btn-group dropend">
            <button type="button" class="btn dropdown-toggle p-0" data-bs-toggle="dropdown" aria-expanded="false">Alumnos</button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" class="dropdown-item">Alta</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Baja</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Modificación</a>
                </li>
            </ul>
        </div>

    </li>
    <li>
        <a href="">Contacto</a>
    </li>
</ul>